$color-primario: #91f3f3;
$color-secundario: #f718bf;
$color-fondo: #f9e4fa;
$color-fondo-contenido: #9dcaf5;
$color-fondo-navbar: $color-primario;
$color-fondo-footer: $color-primario;
$color-texto-footer: #fff;